# Importamos librerias

In [1]:
import pandas as pd
import numpy as np
import snowflake.connector
import json
from snowflake.connector.pandas_tools import write_pandas
from datetime import datetime
from datetime import timedelta
from dateutil.relativedelta import relativedelta
import os
pd.options.mode.chained_assignment = None

In [11]:
while True:
    try:

        f = open('credentials.json')
        data_pass = json.load(f)

        pass_ = input("INGRESAR PASSCODE:")

        ctx = snowflake.connector.connect(
            user = data_pass['snow']['USER'],
            password = data_pass['snow']['PASS'],
            account = data_pass['snow']['ACCOUNT'],
            passcode = pass_,
            database = 'SANDBOX_PLUS',
            schema = 'DWH'
        )

        cursor = ctx.cursor()

        print('Connected')

        break

    except:
        print('Incorrect Password - provide again')

Connected

# Ofertata 1

In [50]:
folder_path = 'C:\\Users\\leonardo.mangold\\PycharmProjects\\promos_inteligencia_negocio\\ofertata\\01. Enero\\ofertata_1'

# Get a list of all files in the folder
files = os.listdir(folder_path)


csv_files = [file for file in files if file.endswith('.csv')]

ofertata_1 = pd.DataFrame()

for csv_file in csv_files:
    file_path = os.path.join(folder_path, csv_file)

    df_aux = pd.read_csv(file_path, dtype = {'CLIE_CLIE_NDOC':str,
                                             'CELULAR':str})
    df_aux['PERFIL_CLIENTE'] = csv_file.split('.')[0]
    ofertata_1 = pd.concat([ofertata_1, df_aux])


perfil_cliente_dict = {'Segm 3':'ACTIVO', 'Segm 5':'ABANDONADOR'}
ofertata_1['PERFIL_CLIENTE'] = ofertata_1['PERFIL_CLIENTE'].map(perfil_cliente_dict)
ofertata_1['OFERTATA'] = 'Ofertata 1'
ofertata_1['FECHA'] = '2024-01-04'

print(ofertata_1.shape[0])
ofertata_1.head(2)

1922214

,SUB_NAME,SUBCLASE,MARCA,SOCI_SOCI_ID,CLIE_TIPO_DOC,CLIE_CLIE_NDOC,ULTIMOS_4,CELULAR,CORREO,PERFIL_CLIENTE,OFERTATA,FECHA
0,CERVEZAS NACIONALES,100020003,ZILLERTAL,1435874,C,51992781,CI:2781,94324545,NaN,ACTIVO,Ofertata 1,2024-01-04
1,CERVEZAS NACIONALES,100020003,ZILLERTAL,1435742,C,19630478,CI:0478,96067283,NaN,ACTIVO,Ofertata 1,2024-01-04

# Ofertata 4

In [48]:
folder_path = 'C:\\Users\\leonardo.mangold\\PycharmProjects\\promos_inteligencia_negocio\\ofertata\\01. Enero\\ofertata_4'


query = '''
SELECT
    SOCI_SOCI_ID,
    CLIE_TIPO_DOC,
    CLIE_CLIE_NDOC
FROM
    MSTRDB.DWH.LU_CLIE_CLIENTE
'''

cursor.execute(query)
socios_snow = cursor.fetch_pandas_all()

# Get a list of all files in the folder
files = os.listdir(folder_path)

excel_files = [file for file in files if file.endswith(('.xls', '.xlsx')) and file != 'Ofertas redes OFERTATA 4 (1).xlsx']

ofertata_4 = pd.DataFrame()

for excel_file in excel_files:
    file_path = os.path.join(folder_path, excel_file)

    df_aux = pd.read_excel(file_path, dtype = {'CELULAR':str})
    df_aux = df_aux.merge(socios_snow, on = 'SOCI_SOCI_ID', how = 'left')
    df_aux['PERFIL_CLIENTE'] = excel_file.split(' -')[0].split(', ')[1]
    ofertata_4 = pd.concat([ofertata_4, df_aux])

perfil_cliente_dict = {'S3':'ACTIVO', 'S5':'ABANDONADOR'}
ofertata_4['PERFIL_CLIENTE'] = ofertata_4['PERFIL_CLIENTE'].map(perfil_cliente_dict)
ofertata_4['OFERTATA'] = 'Ofertata 4'
ofertata_4['FECHA'] = '2024-01-25'

print(ofertata_4.shape[0])
ofertata_4.head(2)

315328

,SOCI_SOCI_ID,SUBCLASE,CORREO,CELULAR,SUB_NAME,CLIE_TIPO_DOC,CLIE_CLIE_NDOC,PERFIL_CLIENTE,OFERTATA,FECHA
0,738541,2700020001,patovivi803@gmail.com,95848778,A BASE DE TOMATE,C,46407781,ACTIVO,Ofertata 4,2024-01-25
1,725504,2700020001,NaN,99351289,A BASE DE TOMATE,C,30642589,ACTIVO,Ofertata 4,2024-01-25

315328

,SOCI_SOCI_ID,SUBCLASE,CORREO,CELULAR,SUB_NAME,CLIE_TIPO_DOC,CLIE_CLIE_NDOC,PERFIL_CLIENTE,OFERTATA,FECHA
0,738541,2700020001,patovivi803@gmail.com,95848778,A BASE DE TOMATE,C,46407781,ACTIVO,Ofertata 4,2024-01-25
1,725504,2700020001,NaN,99351289,A BASE DE TOMATE,C,30642589,ACTIVO,Ofertata 4,2024-01-25

# Ofertata 7

In [45]:
folder_path = 'C:\\Users\\leonardo.mangold\\PycharmProjects\\promos_inteligencia_negocio\\ofertata\\02. Febrero\\ofertata_7'


query = '''
SELECT
    SOCI_SOCI_ID,
    CLIE_TIPO_DOC,
    CLIE_CLIE_NDOC
FROM
    MSTRDB.DWH.LU_CLIE_CLIENTE
'''

cursor.execute(query)
socios_snow = cursor.fetch_pandas_all()

# Get a list of all files in the folder
files = os.listdir(folder_path)

excel_files = [file for file in files if file.endswith(('.xls', '.xlsx'))]

ofertata_7 = pd.DataFrame()

for excel_file in excel_files:
    file_path = os.path.join(folder_path, excel_file)

    df_aux = pd.read_excel(file_path, dtype = {'CELULAR':str})
    df_aux = df_aux.merge(socios_snow, on = 'SOCI_SOCI_ID', how = 'left')
    df_aux['PERFIL_CLIENTE'] = excel_file.split(' ')[1]
    ofertata_7 = pd.concat([ofertata_7, df_aux])

perfil_cliente_dict = {'Activos':'ACTIVO', 'Abandonadores':'ABANDONADOR'}
ofertata_7['PERFIL_CLIENTE'] = ofertata_7['PERFIL_CLIENTE'].map(perfil_cliente_dict)
ofertata_7['OFERTATA'] = 'Ofertata 7'
ofertata_7['FECHA'] = '2024-02-15'

print(ofertata_7.shape[0])
ofertata_7.head(2)

302581

,SOCI_SOCI_ID,SUBCLASE,CORREO,CELULAR,SUB_NAME,CLIE_TIPO_DOC,CLIE_CLIE_NDOC,PERFIL_CLIENTE,OFERTATA,FECHA
0,902735,1700020001,NaN,91214878,AL HUEVO,C,41906936,ABANDONADOR,Ofertata 7,2024-02-15
1,962847,1700020001,NaN,94568445,AL HUEVO,C,41312298,ABANDONADOR,Ofertata 7,2024-02-15

# Cargo SNOW

In [54]:
df = pd.concat([
    ofertata_1[['OFERTATA', 'FECHA', 'SUBCLASE', 'PERFIL_CLIENTE', 'SOCI_SOCI_ID', 'CLIE_TIPO_DOC', 'CLIE_CLIE_NDOC', 'CORREO', 'CELULAR']],
    ofertata_4[['OFERTATA', 'FECHA', 'SUBCLASE', 'PERFIL_CLIENTE', 'SOCI_SOCI_ID', 'CLIE_TIPO_DOC', 'CLIE_CLIE_NDOC', 'CORREO', 'CELULAR']],
    ofertata_7[['OFERTATA', 'FECHA', 'SUBCLASE', 'PERFIL_CLIENTE', 'SOCI_SOCI_ID', 'CLIE_TIPO_DOC', 'CLIE_CLIE_NDOC', 'CORREO', 'CELULAR']]
    ])

In [55]:
success, nchunks, nrows, _ = write_pandas(ctx,
    df, table_name='SEGMENTOS_OFERTATA', database= 'SANDBOX_PLUS', schema = 'DWH')
print('listo')

listo

# Fin