# Importamos librerias

In [2]:
import pandas as pd
import numpy as np
import snowflake.connector
import json
import os
from snowflake.connector.pandas_tools import write_pandas
from datetime import datetime
from datetime import timedelta
from dateutil.relativedelta import relativedelta
pd.options.mode.chained_assignment = None

In [3]:
while True:
    try:

        f = open('credentials.json')
        data_pass = json.load(f)

        pass_ = input("INGRESAR PASSCODE:")

        ctx = snowflake.connector.connect(
            user = data_pass['snow']['USER'],
            password = data_pass['snow']['PASS'],
            account = data_pass['snow']['ACCOUNT'],
            passcode = pass_,
            database = 'SANDBOX_PLUS',
            schema = 'DWH'
        )

        cursor = ctx.cursor()

        print('Connected')

        break

    except:
        print('Incorrect Password - provide again')

    print('Correct Password - connected to SNOWFLAKE')

Connected

# Juli

## Precios Oferta

### tabla 12 - Precios Oferta

In [25]:
url_fechas = 'https://docs.google.com/spreadsheets/d/1JnayuiljvaOebik4gKqNgxSLD6RO2AS8euG7apQykW8/export?format=csv'
fechas = pd.read_csv(url_fechas)
fechas

   EVENTO_ID       DESDE       HASTA               OFERTA
0        NaN  2024-01-04  2024-01-10    OFERTATA ENERO 01
1        NaN  2024-01-11  2024-01-17    OFERTATA ENERO 02
2        NaN  2024-02-15  2024-02-21  OFERTATA FEBRERO 07
3        NaN  2024-02-22  2024-02-28  OFERTATA FEBRERO 08

In [38]:
query = '''
    SELECT
        DISTINCT
        LPTO.*,
        FP.PROM_FECHA_INICIO AS INICIO,
        FP.PROM_FECHA_FIN AS FIN,
        LAA.ORIN,
        LAA.ARTC_ARTC_COD AS ESTADISTICO,
        FP.PROM_PVP_OFERTA
    FROM
        MSTRDB.DWH.FT_PROMOS AS FP
        INNER JOIN MSTRDB.DWH.LU_PROM_EVENTO AS LPE ON LPE.EVENTO_ID = FP.EVENTO_ID
        INNER JOIN MSTRDB.DWH.LU_PROM_TIPO_OFERTA AS LPTO ON LPTO.TIPO_OFERTA_ID = LPE.TIPO_OFERTA_ID
        INNER JOIN MSTRDB.DWH.LU_ARTC_ARTICULO AS LAA ON FP.ARTC_ARTC_ID = LAA.ARTC_ARTC_ID
    WHERE
        LPTO.TIPO_OFERTA_ID in (10,11,12)
        AND FP.PROM_FECHA_INICIO >= DATEADD(DAY, -30, '{desde_snow}')
        AND FP.PROM_FECHA_FIN < '{desde_snow}'

'''

df_precios_oferta = pd.DataFrame()
for i in range(len(fechas)):
    desde = fechas.iloc[i]['DESDE']
    hasta = fechas.iloc[i]['HASTA']
    oferta = fechas.iloc[i]['OFERTA']

    cursor.execute(query.format(desde_snow = desde, hasta_snow = hasta))
    df_aux = cursor.fetch_pandas_all()
    df_aux['PRECIO DESDE'] = desde
    df_aux['PRECIO HASTA'] = hasta
    df_aux['NOMBRE_PROMO'] = oferta
    df_precios_oferta = pd.concat([df_precios_oferta, df_aux])

df_precios_oferta = df_precios_oferta[['TIPO_OFERTA_ID', 'TIPO_OFERTA_DESC', 'INICIO', 'FIN', 'NOMBRE_PROMO', 'PRECIO DESDE', 'PRECIO HASTA', 'ORIN', 'ESTADISTICO', 'PROM_PVP_OFERTA']]
df_precios_oferta.head(2)

,TIPO_OFERTA_ID,TIPO_OFERTA_DESC,INICIO,FIN,NOMBRE_PROMO,PRECIO DESDE,PRECIO HASTA,ORIN,ESTADISTICO,PROM_PVP_OFERTA
0,12,Otros Mailings,2023-12-26,2024-01-03,OFERTATA ENERO 01,2024-01-04,2024-01-10,1000052069,252799000,40.0
1,12,Otros Mailings,2023-12-26,2024-01-03,OFERTATA ENERO 01,2024-01-04,2024-01-10,1000149602,270189000,135.0

In [39]:
df_precios_oferta['FIN'] = pd.to_datetime(df_precios_oferta['FIN'])

# Create a new 'Rank' column based on the maximum date for each element of 'X'
df_precios_oferta['R'] = df_precios_oferta.groupby('ORIN')['FIN'].rank(ascending=False, method='max').astype(int)
df_precios_oferta = df_precios_oferta[df_precios_oferta['R'] == 1]
df_precios_oferta.drop_duplicates(subset = 'ORIN', keep = 'first', inplace = True)
df_precios_oferta.drop(['R'], axis = 1, inplace = True)

df_precios_oferta.sort_values(by = ['PRECIO HASTA', 'NOMBRE_PROMO', 'FIN'], ascending = [False, True, False], inplace = True)
df_precios_oferta['FIN'] = df_precios_oferta['FIN'].astype(str)
df_precios_oferta['INICIO'] = df_precios_oferta['INICIO'].astype(str)
df_precios_oferta.head(2)

,TIPO_OFERTA_ID,TIPO_OFERTA_DESC,INICIO,FIN,NOMBRE_PROMO,PRECIO DESDE,PRECIO HASTA,ORIN,ESTADISTICO,PROM_PVP_OFERTA
3,12,Otros Mailings,2024-01-18,2024-01-24,OFERTATA FEBRERO 07,2024-02-15,2024-02-21,1000257155,560387000,179.0
7,12,Otros Mailings,2024-01-18,2024-01-24,OFERTATA FEBRERO 07,2024-02-15,2024-02-21,1000302899,262053000,40.0

## BASE_OPT

### tabla 13 - OPT

In [41]:
query = '''
    SELECT
        --LAA.ARTC_ARTC_ID,
        --LAA.ARTC_ARTC_COD,
        --LAA.ARTC_ARTC_DESC,
        LAA.ORIN,
        ROUND(AVG(OPT.PRECIO_COMPETENCIA), 1) AS AVG_PRECIO_COMPETENCIA
    FROM
        SPIKE.SPIKE.BASE_OPT AS OPT
        INNER JOIN MSTRDB.DWH.LU_ARTC_ARTICULO AS LAA ON OPT.ARTC_ARTC_ID = LAA.ARTC_ARTC_ID
        INNER JOIN MSTRDB.DWH.LU_GEOG_LOCAL AS LGL ON OPT.GEOG_LOCL_ID = LGL.GEOG_LOCL_ID
    GROUP BY
        ALL
'''

cursor.execute(query)
opt = cursor.fetch_pandas_all()
opt.head(2)

         ORIN  AVG_PRECIO_COMPETENCIA
0  1000288879                   147.9
1  1000293855                   387.7

## Locales Activos Ayer

### tabla 14 - Locales Activos Ayer

In [44]:
query = '''
SELECT
    --LAA.ARTC_ARTC_DESC AS ARTICULO,
    LAA.ORIN,
    --LAA.ARTC_ARTC_ID,
    COUNT(DISTINCT FS.GEOG_LOCL_ID) AS LOCALES_ACTIVOS_AYER
FROM
    MSTRDB.DWH.FT_STOCK AS FS
    LEFT JOIN MSTRDB.DWH.LU_ARTC_ARTICULO AS LAA ON FS.ARTC_ARTC_ID = LAA.ARTC_ARTC_ID
WHERE
    ARTC_ESTA_ID = 4
    AND LAA.ORIN IS NOT NULL
    AND GEOG_LOCL_ID IN (SELECT GEOG_LOCL_ID FROM MSTRDB.DWH.LU_GEOG_LOCAL WHERE GEOG_UNNG_ID = 2)
    AND GEOG_LOCL_ID IN (SELECT GEOG_LOCL_ID FROM MSTRDB.DWH.LU_GEOG_LOCAL WHERE GEOG_LOCL_COD NOT IN (198, 100))
    AND FS.TIEM_DIA_ID = CURRENT_DATE() - 1
GROUP BY
    ALL
HAVING
    LOCALES_ACTIVOS_AYER > 0
'''

cursor.execute(query)
df_locales_activos_ayer = cursor.fetch_pandas_all()
df_locales_activos_ayer.head(2)

         ORIN  LOCALES_ACTIVOS_AYER
0  1000345507                    70
1  1000412746                    27

In [ ]:
# leo: excluir los locales de cercania

In [30]:
df_locales_activos_ayer['LOCALES_ACTIVOS_AYER'].nunique()

95

## Days on Hand

### tabla 15 - days on hand ARTICULO

In [31]:
query = '''
WITH STOCK AS
    (
    SELECT
        IM.SUBCLASE,
        LAA.ARTC_ARTC_DESC,
        LAA.ORIN,
        LAA.ARTC_ARTC_ID,
        SUM(FS.STCK_UNIDADES) AS UNIDADES
    FROM
        MSTRDB.DWH.FT_STOCK AS FS
        LEFT JOIN MSTRDB.DWH.LU_ARTC_ARTICULO AS LAA ON FS.ARTC_ARTC_ID = LAA.ARTC_ARTC_ID
        INNER JOIN MSTRDB.DWH.ITEM_MASTER AS IM ON LAA.ORIN = IM.ITEM
    WHERE
        FS.TIEM_DIA_ID = CURRENT_DATE() - 1
    GROUP BY
        ALL
    ),

VENTAS AS
    (
    SELECT
        FV.ARTC_ARTC_ID,
        (SUM(FV.VNTA_UNIDADES) / 30) AS UNIDADES_VENDIDAS
    FROM
        MSTRDB.DWH.FT_VENTAS AS FV
    WHERE
        FV.TIEM_DIA_ID >= DATEADD(MONTH, -1, CURRENT_DATE()-1)
    GROUP BY
        ALL
    )

SELECT
    STOCK.*,
    COALESCE(VENTAS.UNIDADES_VENDIDAS, 0) AS UNIDADES_VENDIDAS
FROM
    STOCK
    LEFT JOIN VENTAS ON VENTAS.ARTC_ARTC_ID = STOCK.ARTC_ARTC_ID
'''

cursor.execute(query)
df_days_on_hand_articulo = cursor.fetch_pandas_all()

df_days_on_hand_articulo = df_days_on_hand_articulo[df_days_on_hand_articulo['UNIDADES'] != 0]
df_days_on_hand_articulo['DAYS ON HAND'] = df_days_on_hand_articulo['UNIDADES'] / df_days_on_hand_articulo['UNIDADES_VENDIDAS']
df_days_on_hand_articulo['DAYS ON HAND'][(df_days_on_hand_articulo['UNIDADES'] == 0) & (df_days_on_hand_articulo['UNIDADES_VENDIDAS'] == 0)] = 0
df_days_on_hand_articulo['DAYS ON HAND'][df_days_on_hand_articulo['DAYS ON HAND'] == np.inf] = 999999
df_days_on_hand_articulo['DAYS ON HAND'][df_days_on_hand_articulo['DAYS ON HAND'] == -np.inf] = -999999
df_days_on_hand_articulo['DAYS ON HAND'][df_days_on_hand_articulo['DAYS ON HAND'] > 999999] = 999999
df_days_on_hand_articulo['DAYS ON HAND'][df_days_on_hand_articulo['DAYS ON HAND'] < -999999] = -999999
df_days_on_hand_articulo['DAYS ON HAND'].fillna(999999, inplace=True)
df_days_on_hand_articulo['DAYS ON HAND'] = round(df_days_on_hand_articulo['DAYS ON HAND'], 0).astype(int)
df_days_on_hand_articulo['UNIDADES'] = round(df_days_on_hand_articulo['UNIDADES'], 0).astype(int)
df_days_on_hand_articulo['UNIDADES_VENDIDAS'] = round(df_days_on_hand_articulo['UNIDADES_VENDIDAS'], 0).astype(int)
df_days_on_hand_articulo.rename({'UNIDADES_VENDIDAS':'UNIDADES VENDIDAS'}, axis = 1, inplace = True)
df_days_on_hand_articulo = df_days_on_hand_articulo[['SUBCLASE', 'ORIN', 'UNIDADES', 'UNIDADES VENDIDAS', 'DAYS ON HAND']]

df_days_on_hand_articulo.head(2)

     SUBCLASE        ORIN  UNIDADES  UNIDADES VENDIDAS  DAYS ON HAND
1  8900060001  1000026009       632                 15            42
2  2400020002  1000053192       730                 35            21

### tabla 16 - days on hand SUBCLASE

In [32]:
query = '''
WITH STOCK AS
    (
    SELECT
        SUB.SUBCLASE,
        SUB.SUB_NAME,
        SUM(FS.STCK_UNIDADES) AS UNIDADES
    FROM
        MSTRDB.DWH.FT_STOCK AS FS
        LEFT JOIN MSTRDB.DWH.LU_ARTC_ARTICULO AS LAA ON FS.ARTC_ARTC_ID = LAA.ARTC_ARTC_ID
        INNER JOIN MSTRDB.DWH.ITEM_MASTER AS IM ON IM.ITEM = LAA.ORIN
        INNER JOIN MSTRDB.DWH.SUBCLASS AS SUB ON SUB.SUBCLASE = IM.SUBCLASE
    WHERE
        FS.TIEM_DIA_ID = CURRENT_DATE() - 1
    GROUP BY
        ALL
    ),

VENTAS AS
    (
    SELECT
        SUB.SUBCLASE,
        (SUM(FV.VNTA_UNIDADES) / 30) AS UNIDADES_VENDIDAS
    FROM
        MSTRDB.DWH.FT_VENTAS AS FV
        INNER JOIN MSTRDB.DWH.LU_ARTC_ARTICULO AS LAA ON FV.ARTC_ARTC_ID = LAA.ARTC_ARTC_ID
        INNER JOIN MSTRDB.DWH.ITEM_MASTER AS IM ON IM.ITEM = LAA.ORIN
        INNER JOIN MSTRDB.DWH.SUBCLASS AS SUB ON SUB.SUBCLASE = IM.SUBCLASE
    WHERE
        FV.TIEM_DIA_ID >= DATEADD(MONTH, -1, CURRENT_DATE()-1)
    GROUP BY
        ALL
    )

SELECT
    STOCK.*,
    COALESCE(VENTAS.UNIDADES_VENDIDAS, 0) AS UNIDADES_VENDIDAS
FROM
    STOCK
    LEFT JOIN VENTAS ON VENTAS.SUBCLASE = STOCK.SUBCLASE
'''

cursor.execute(query)
df_days_on_hand_subclase = cursor.fetch_pandas_all()

df_days_on_hand_subclase = df_days_on_hand_subclase[df_days_on_hand_subclase['UNIDADES'] != 0]
df_days_on_hand_subclase['DAYS ON HAND'] = df_days_on_hand_subclase['UNIDADES'] / df_days_on_hand_subclase['UNIDADES_VENDIDAS']
df_days_on_hand_subclase['DAYS ON HAND'][(df_days_on_hand_subclase['UNIDADES'] == 0) & (df_days_on_hand_subclase['UNIDADES_VENDIDAS'] == 0)] = 0
df_days_on_hand_subclase['DAYS ON HAND'][df_days_on_hand_subclase['DAYS ON HAND'] == np.inf] = 999999
df_days_on_hand_subclase['DAYS ON HAND'][df_days_on_hand_subclase['DAYS ON HAND'] == -np.inf] = -999999
df_days_on_hand_subclase['DAYS ON HAND'][df_days_on_hand_subclase['DAYS ON HAND'] > 999999] = 999999
df_days_on_hand_subclase['DAYS ON HAND'][df_days_on_hand_subclase['DAYS ON HAND'] < -999999] = -999999
df_days_on_hand_subclase['DAYS ON HAND'].fillna(999999, inplace=True)
df_days_on_hand_subclase['DAYS ON HAND'] = round(df_days_on_hand_subclase['DAYS ON HAND'], 0).astype(int)
df_days_on_hand_subclase['UNIDADES'] = round(df_days_on_hand_subclase['UNIDADES'], 0).astype(int)
df_days_on_hand_subclase['UNIDADES_VENDIDAS'] = round(df_days_on_hand_subclase['UNIDADES_VENDIDAS'], 0).astype(int)
df_days_on_hand_subclase.rename({'UNIDADES_VENDIDAS':'UNIDADES VENDIDAS'}, axis = 1, inplace = True)
df_days_on_hand_subclase = df_days_on_hand_subclase[['SUBCLASE', 'UNIDADES', 'UNIDADES VENDIDAS', 'DAYS ON HAND']]
df_days_on_hand_subclase.head(2)

      SUBCLASE  UNIDADES  UNIDADES VENDIDAS  DAYS ON HAND
0  11400100004      4998                 15           324
1  11800060002       965                  2           391

## Precios Stock Mediano ayer

### tabla 17 - Precios Stock Mediano ayer

In [33]:
query = '''
    SELECT
        DISTINCT
        LPTO.*,
        FP.PROM_FECHA_INICIO AS INICIO,
        FP.PROM_FECHA_FIN AS FIN,
        --LAA.ARTC_ARTC_ID,
        --LAA.ARTC_ARTC_COD,
        --LAA.ARTC_ARTC_DESC,
        LAA.ORIN,
        MEDIAN(FS.STCK_PRECIO_VENTA_DIA_CIVA) AS PRECIO_STOCK_MEDIANO
    FROM
        MSTRDB.DWH.FT_PROMOS AS FP
        INNER JOIN MSTRDB.DWH.LU_PROM_EVENTO AS LPE ON LPE.EVENTO_ID = FP.EVENTO_ID
        INNER JOIN MSTRDB.DWH.LU_PROM_TIPO_OFERTA AS LPTO ON LPTO.TIPO_OFERTA_ID = LPE.TIPO_OFERTA_ID
        INNER JOIN MSTRDB.DWH.LU_ARTC_ARTICULO AS LAA ON FP.ARTC_ARTC_ID = LAA.ARTC_ARTC_ID
        INNER JOIN MSTRDB.DWH.FT_STOCK AS FS ON FS.ARTC_ARTC_ID = LAA.ARTC_ARTC_ID AND FS.TIEM_DIA_ID = CURRENT_DATE - 1
    WHERE
        LPTO.TIPO_OFERTA_ID IN (10, 11, 12)
    GROUP BY
        ALL
'''

cursor.execute(query)
df_precios_stock_mediano = cursor.fetch_pandas_all()
df_precios_stock_mediano.head(2)

,TIPO_OFERTA_ID,TIPO_OFERTA_DESC,INICIO,FIN,ORIN,PRECIO_STOCK_MEDIANO
0,10,Imbatibles,2022-08-01,2022-08-16,1000039795,189.0
1,12,Otros Mailings,2022-12-08,2023-01-01,1000098655,305.0

# Excel

In [42]:
with pd.ExcelWriter(f"C:\\Users\\leonardo.mangold\\PycharmProjects\\promos_inteligencia_negocio\\Promos {datetime.today().strftime('%Y-%m-%d')}.xlsx", engine='xlsxwriter') as writer:
    df_precios_oferta.to_excel(writer, sheet_name='Precios Oferta', index=False)
    df_precios_stock_mediano.to_excel(writer, sheet_name='Precios Stock Mediano', index=False)
    opt.to_excel(writer, sheet_name='OPT', index=False)
    df_locales_activos_ayer.to_excel(writer, sheet_name='Locales Activos Ayer', index=False)
    df_days_on_hand_articulo.to_excel(writer, sheet_name='Days on Hand - Articulos', index=False)
    df_days_on_hand_subclase.to_excel(writer, sheet_name='Days on Hand - Subclases', index=False)

# Fin